@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&subset=cyrillic');

html {
	font-size: 10px;
}

body {
	font-family: 'Open Sans', sans-serif;
}

a:active, a:visited, a:focus {
	text-decoration: none;
	outline: none;
}

.main {
	display: table;
	position: relative;
	width: 100%;
	text-align: center;
	color: #fff;
	height: 100vh;
	background: #000 url(../img/main_bg.jpg) center center no-repeat;
}

.wrapper {
	display:table-cell;
	vertical-align:middle;
}

.main-header {
	position: relative;
	//border: 1px solid red;
	z-index: 2;
}

.main h1 {
	margin-bottom: 1.4rem;
	font-size: 4.8rem;
	text-transform: uppercase;
	font-weight: 300;
}
.main-line {
	width: 200px;
	height: 1px;
	background-color: #fff;
	margin: 0 auto;
}

.main-header p {
	font-size: 3rem;
	font-weight: 300;
}

.main-overlay {
	position: absolute;
	width: 100%;
	height: 100%;
	background-color: rgba(0,0,0,0.5);
	z-index: 1;
}

.main-down {
	position: absolute;
	bottom: 2rem;
	display: inline-block;
	font-size: 2rem;
	color: #fff;
	left: 50%;
	width: 5rem;
	height: 5rem;
	border-radius: 50%;
	border: 1px solid transparent;
	line-height: 5rem;
	margin-left: -2.5rem;
	z-index: 3;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.main-down:hover {
	color: #fff;
	border-color : #fff;
}

/* Секция Портфолио*/
.portfolio {
	padding: 10rem 0;
	text-align: center;
}

.section-header {
	text-align: center;
	text-transform: uppercase;
	font-weight: 700;
	font-size: 36p;
}

.section-header h2 {
	margin-bottom: 5rem;
}

.portfolio img {
	width: 100%;
	max-width: 360px;
	box-shadow: 0px 4px 29px 0px rgba(87, 92, 97, 0.54);
}

.portfolio a {
	display: block;
	margin: 2rem auto 5rem;
	color: #333;
	width: 18rem;
	border-bottom: 1px solid transparent;
	text-transform: none;
}

.portfolio a:hover {
	text-decoration: none;
	border-bottom: 1px dotted #333;
}

/* Секция Подвал*/

.footer {
	background-color: #646464;
	color: #fff;
	text-align: center;
	padding: 3rem;
}

.footer strong {
	font-weight: 300;
	font-size: 2.4rem;
}

.social-links {
	margin-top: 1rem;
}

.social-links a {
	width: 5rem;
	height: 5rem;
	line-height: 5rem;
	display: inline-block;
	color: #fff;
	border: 1px solid #fff;
	border-radius: 50%;
	margin-left: 1rem;
	margin-right: 1rem;
	font-size: 2rem;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}


.social-links a:hover {
	background-color: #fff;
	color: #646464;
}

.offer-btn {
	display: block;
	width: 80%;
	max-width: 200px;
	margin: 1rem auto;
	border: 1px solid #fff;
	border-radius: 100px;
	padding: 1rem 0;
	color: #fff;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.offer-btn:hover {
		text-decoration: none;
		color: #646464;
		background-color: #fff;
}

.modal img {
	width: 100%;
}

.modal-title {
	font-weight: 800;
	font-style: 2rem;
}

.close {
	background-color: transparent;
	border: none;
	font-size: 2.5rem;
	position: absolute;
	right: 1rem;
	top: 0.7rem;
}

.modal-btn {
	display: block;
	border: 1px solid #646464;
	padding: 10px 20px;
	border-radius: 5px;
	text-align: center;
	-webkit-transition: 0.2s;
	-o-transition: 0.2s;
	transition: 0.2s;
}

.modal-btn:hover {
	background-color: #646464;
	color: #fff;
	text-decoration: none;
}

@media (min-width: 0px) and (max-width: 768px) {
	html {
		font-size: 7px;
	}

	.footer strong {
		margin: 3rem 0 2rem;
		display: inline-block;
	}

	.social-links {
		font-size: 1.5rem;
	}
}

@media (min-width: 768px) and (max-width: 991px) {
	
	.footer strong {
		margin: 3rem 0 2rem;
		display: inline-block;
	}
}